# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# macOS folders
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# VS Code testing
.vscode-test/

# Editor/OS temp files
*.swp
*.swo
*~
Thumbs.db
